<h1> Send your peep into the world of Chitter </h1>

<form action="/new_peep" method="post">
  <li>
    <label for="New Peep">New Peep</label>
    <input type="text" name="New Peep", placeholder="Type here" />
    <input type="submit" value="Post">
  </li>