<h1> Send your peep into the world of Chitter </h1>

<form action="/new_peep" method="post">
    <label for="new_peep">New Peep</label>
    <input type="text" name="new_peep", placeholder="Type here" />
    <input type="submit" value="Post">
</form>